@use "variables" as v;

@mixin phone {
    @media screen and (min-width: 480px){
        @content;
    }    
}

@mixin tablet {
    @media screen and (min-width: 768px){
        @content;
    }    
}

@mixin desktop {
    @media screen and (min-width: 992px){
        @content;
    }    
}

@mixin desktopXL {
    @media screen and (min-width: 1200px){
        @content;
    }    
}

@mixin grid($column, $gap) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    gap: $gap;
}

@mixin reset-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin shadow {
    text-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}