// ----- FONTS -----

@font-face {
    font-family: "Formula 1";
    src: url("../font/Formula1-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Formula 1";
    src: url("../font/Formula1-Bold.ttf");
    font-weight: bold;
}

$font: "Formula 1", sans-serif;

// ----- COLORS -----

$white: #FFFFFF;
$dark: #151513;
$red: #FF0000;