@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal{
    width: 60%;
    padding: 0 5rem;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .tag{
        font-size: 1.4rem;
        background-color: v.$red;
        color: v.$white;
        padding: 1rem 3rem;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
        cursor: pointer;

        p{
            margin: 0;
        }
    }

    .title{
        color: v.$white;
        font-size: 3rem;
        @include m.shadow;
        cursor: pointer;
        transition: text-shadow 0.2s ease;

        h1{
            margin: 3rem 0;
        }

        &:hover{
            text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1);
        }
    }

    .more{
        color: v.$white;
        display: flex;
        gap: 3rem;
        @include m.shadow;
        font-size: 2rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: text-shadow 0.2s ease;

        p{
            margin: 0;
        }

        &:hover{
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
        }
    }
}
